@import "tailwindcss";

/* Style des éléments du carrousel */
.custom-slider .slick-prev,
.custom-slider .slick-next {
  @apply absolute top-1/2 z-10 w-8 h-8;
}

.custom-slider .slick-prev {
  @apply left-0;
}

.custom-slider .slick-next {
  @apply right-0;
}

.custom-slider .slick-prev:before,
.custom-slider .slick-next:before {
  @apply text-black text-2xl lg:text-3xl;
}

.custom-slider .slick-dots {
  @apply bottom-1;
}

.custom-slider .slick-dots li {
  @apply mx-0 lg:mx-2;
}

.custom-slider .slick-dots li button:before {
  @apply text-black/70 lg:text-xs;
}

.custom-slider .slick-dots li.slick-active button:before {
  @apply text-black;
}

/* Fonts */
body {
  @apply font-[Outfit];
}

.font-exo {
  @apply font-[Exo2];
}

/* Rendre la scrollbar fine et visible */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
